project               = "azdo"
environment           = "dev"
location              = "italynorth"
vnet_address_space    = ["10.0.0.0/16"]
compute_subnet_prefix = "10.0.1.0/24"
data_subnet_prefix    = "10.0.2.0/24"

# Sostituisci con l'IP pubblico della tua macchina / del tuo team
allowed_ssh_ips       = ["95.235.197.91/32"] 

tags = {
  Owner = "DevOpsTeam"
}
