project               = "azdo"
environment           = "dev"
location              = "italynorth"
vnet_address_space    = ["10.0.0.0/16"]
compute_subnet_prefix = "10.0.1.0/24"
data_subnet_prefix    = "10.0.2.0/24"

# Sostituisci con l'IP pubblico della tua macchina / del tuo team
allowed_ssh_ips       = ["95.235.197.91/32"] 

# Incolla qui il contenuto della tua chiave pubblica (es. cat ~/.ssh/id_rsa.pub)
admin_ssh_public_key  = "ssh-rsa ..."

tags = {
  Owner = "DevOpsTeam"
}

db_admin_login    = "psqladmin"
db_admin_password = "<INSERISCI_LA_TUA_PASSWORD_QUI>" # Da non versionare mai
db_version        = "16"
db_sku_name       = "B_Standard_B1ms"
db_storage_mb     = 32768

# IP autorizzati ad accedere allo Storage Account (stessa lista di allowed_ssh_ips)
allowed_storage_ips = ["<IL_TUO_IP_PUBBLICO>"]
